<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dbutilsProject/src/oz/utils/db/run/folder/RunSqlScriptsFromFolderMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="sqlFileNameRange" value="dbchanges_6.05.04-dbchanges_6.05.07"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.utils.db.run.folder.RunSqlScriptsFromFolderMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=".\args\\dbproperties\TOZ.properties&#13;&#10;\\s6540001\SCRIPT\autoDeploy2\dbchanges&#13;&#10;Cp1255&#13;&#10;.\args\db\runSqlScript\mail_fibi.properties&#13;&#10;c:\temp\"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dbutilsProject"/>
</launchConfiguration>
