<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/utilsProject/src/oz/utils/subtitiles/SubTitlesUtils.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.utils.subtitiles.SubTitlesUtils"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="utilsProject"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:\MyMovies\Parallel.Mothers.2021.SPANISH.720p.BluRay.H264.AAC-VXT\input2\Parallel.Mothers.2021.SPANISH.720p.BluRay.H264.AAC-VXT.srt 5"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="utilsProject"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfile.encoding=Cp1255"/>
</launchConfiguration>
