<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/XMLProject/src/oz/xml/xslt/PerformXslTransformation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="xmlOutPutFilePath" value="c:\temp\Test_perfservlet+++.xml"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.xml.xslt.PerformXslTransformation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\oj\projects\XMLProject\files\performace\performancemonitor.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="XMLProject"/>
</launchConfiguration>
