<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/clearCaseProject/src/oz/clearcase/infra/test/ClearCaseUtilsTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="streamName" value="tmpProj01_Dev"/>
<mapEntry key="viewTag" value="s177571_tmpProj01_Dev_Dyn"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.clearcase.infra.test.ClearCaseUtilsTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="clearCaseProject"/>
</launchConfiguration>
