<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/clearCaseProject/src/oz/clearcase/stream/CloneStreamMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.clearcase.stream.CloneStreamMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="\tmpPVOB tmpProj01_Fix02  tmpProj01_Fix02C READONY"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="clearCaseProject"/>
</launchConfiguration>
