<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/autodeploy2Project/src/oz/utils/autodeploy/AutoDeployMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.utils.autodeploy.AutoDeployMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="MODIFYLOADRULESCFG ./args/AutoDeploy2.properties snifit TOZ 6.33.44"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="autodeploy2Project"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DmyDebug=YES"/>
</launchConfiguration>
