<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/datastageCmProject/src/oz/utils/cm/ds/DsJobNamesMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.utils.cm.ds.DsJobNamesMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="\\s5381255\e$\ClearCase$\20160629\dsx\done\13.07.37\DwhProd~T164070~StrZihuyDmn~20160629~py#99999.dsx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="datastageCmProject"/>
</launchConfiguration>
