<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ctgProject/src/com/ibm/ctg/samples/eci/EciB1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CTG_CLIENT_TRACE_LEVEL" value="4"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ibm.ctg.samples.eci.EciB1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="suswastest2 2006"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ctgProject"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dgateway.T.trace=on -Dgateway.T.setTFile=c:\\temp\\gateway.log"/>
</launchConfiguration>
