<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/InfraStructureProject/src/oz/infra/http/win/test/HttpWinClientUtilsTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.infra.http.win.test.HttpWinClientUtilsTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://snifp-http.fibi.corp:85/MatafServer_L_Z8/SmServlet?type=2 2&#13;&#10;http://S603FB00.fibi.corp:9088/DBTest 2&#13;&#10;http://snif-http.fibi.corp/MatafServer_Q_Z2/generalClientDefines.properties 2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="InfraStructureProject"/>
</launchConfiguration>
