<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ozMonitorProject/src/oz/monitor/jmx/client/OzMonitorJmxClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.monitor.jmx.client.OzMonitorJmxClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=".\args\main\ozMonitor.properties EMAIL_MONITORS_STATUS_REPORT s5381130,s5380440,snif-udb,xx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ozMonitorProject"/>
</launchConfiguration>
