<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dbutilsProject/src/oz/utils/db/run/RunSqlScriptFromFile.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.utils.db.run.RunSqlScriptFromFile"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="./args/dbproperties/OZ77.properties .\args\db\runSqlScript\sqlstatements\select_GL_SNIF.sql  c:\temp\222.log Cp1255"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dbutilsProject"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dclient.encoding.override=cp1255"/>
</launchConfiguration>
