<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tempProject/src/oz/temp/db/SqlStatementTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oz.temp.db.SqlStatementTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\oj\projects\se\dbutilsProject\args\db\runSqlScript\dbproperties\OZ77.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tempProject"/>
</launchConfiguration>
