<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/securityProject/src/org/apache/http/examples/client/ClientKerberosAuthentication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.apache.http.examples.client.ClientKerberosAuthentication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="securityProject"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=C:\oj\projects\securityProject\args\httpclient\logging\full.properties"/>
</launchConfiguration>
